stages:
  - check
  - test
  - deploy

include:
  - project: "GNOME/citemplates"
    file: "templates/default-rules.yml"
  - project: "GNOME/citemplates"
    file: "flatpak/flatpak_ci_initiative.yml"
  - project: "GNOME/citemplates"
    file: "templates/basic-release-with-dist.yml"
    inputs:
      dist-job-name: "build-flatpak"

.vars-devel:
  variables:
    MANIFEST_PATH: "build-aux/org.gnome.design.AppIconPreviewDevel.json"
    FLATPAK_MODULE: "app-icon-preview"
    APP_ID: "org.gnome.design.AppIconPreviewDevel"
    RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
    BUNDLE: "app-icon-preview-nightly.flatpak"

# Build Flatpak for x86_64
build-flatpak:
  extends: ['.flatpak@x86_64', '.vars-devel']

nightly@x86_64:
  extends: ['.publish_nightly', '.vars-devel']
  needs: ['build-flatpak']

rustfmt:
  image: "rust:slim"
  stage: check
  script:
    - rustup component add rustfmt
    - echo -e "" >> src/config.rs
    - rustc -Vv && cargo -Vv
    - cargo fmt --version
    - cargo fmt --all -- --color=always --check

codespell:
  stage: check
  image: "docker.io/bilelmoussaoui/codespell"
  script:
    - codespell -S "*.png,*.po,.git,*.jpg" -L "ser"

.flatpak-command: &flatpak-command
  extends: ['.vars-devel']
  image: '${RUNTIME_IMAGE}'
  tags:
    - flatpak
  script:
    - flatpak-builder --user --disable-rofiles-fuse --keep-build-dirs --stop-at=${FLATPAK_MODULE} flatpak_app ${MANIFEST_PATH}
    - flatpak build-finish --share=network flatpak_app
    - echo "cd .. && ${COMMAND}" | flatpak-builder --user --disable-rofiles-fuse --build-shell=${FLATPAK_MODULE} flatpak_app ${MANIFEST_PATH}

cargo-clippy:
  <<: *flatpak-command
  variables:
    COMMAND: "cargo clippy --all-targets --workspace --all-features -- -D warnings"

cargo-test:
  <<: *flatpak-command
  variables:
    COMMAND: "cargo test --workspace --all-features --all-targets"
