include:
  - project: "GNOME/citemplates"
    file: "templates/default-rules.yml"
  - project: "GNOME/citemplates"
    file: "flatpak/flatpak_ci_initiative.yml"
  - project: "GNOME/citemplates"
    file: "templates/basic-release-with-dist.yml"
    inputs:
      dist-job-name: "build-flatpak"

.vars-devel:
  variables:
    MANIFEST_PATH: "build-aux/org.gnome.design.AppIconPreviewDevel.json"
    FLATPAK_MODULE: "app-icon-preview"
    APP_ID: "org.gnome.design.AppIconPreviewDevel"
    RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
    BUNDLE: "app-icon-preview-nightly.flatpak"
  extends: '.flatpak'

# Build Flatpak for x86_64
build-flatpak:
  extends: ['.flatpak@x86_64', '.vars-devel']
  stage: build

nightly@x86_64:
  extends: '.publish_nightly'
  needs: ['build-flatpak']

rustfmt:
  image: "rust:slim"
  stage: ".pre"
  script:
    - rustup component add rustfmt
    - echo -e "" >> src/config.rs
    - rustc -Vv && cargo -Vv
    - cargo fmt --version
    - cargo fmt --all -- --color=always --check

codespell:
  stage: ".pre"
  image: "docker.io/bilelmoussaoui/codespell"
  script:
    - codespell -S "*.png,*.po,.git,*.jpg" -L "ser"
