.drop-zone {
	/*border: 5px dashed @theme-border-color;
	border-radius: 10px;*/
	padding: 20px 100px;
	margin: 30px;
}

.drop-zone * {
	margin: 15px;
}

.recents frame {
	margin: 5px;
}

.recents row label {
	padding: 3px;
}

colour-view .sizes,
colour-view .wallpaper grid,
symbolic-view pane > box {
	margin: 20px;
}

colour-view .wallpaper {
	background-size: cover;
	background-image: url('resource://org/gnome/IconPreview/wallpapers/Adwaita.jpg');
}

.theme-Adwaita-dark .wallpaper {
	background-image: url('resource://org/gnome/IconPreview/wallpapers/Adwaita-dark.jpg');
}

colour-view image {
	-gtk-icon-shadow: rgba(0,0,0,0.1) 0 1px 10px;
}

demo-icon {
	margin: 15px;
}

.exporter {
	margin: 10px;
}

.exporter .thumbnail {
	border: 1px solid @theme-border-color;
	padding: 8px;
}
