.drop-zone {
	/*border: 5px dashed @theme-border-color;
	border-radius: 10px;*/
	padding: 20px 100px;
	margin: 30px;
}

.drop-zone * {
	margin: 15px;
}

colour-view .sizes, colour-view .wallpaper grid {
	margin: 20px;
}

colour-view .wallpaper {
	background-size: cover;
	background-image: url('resource://org/gnome/IconPreview/wallpapers/Adwaita.jpg');
}

.theme-Adwaita-dark .wallpaper {
	background-image: url('resource://org/gnome/IconPreview/wallpapers/Adwaita-dark.jpg');
}

demo-icon {
	margin: 15px;
}